.store-locator-list-all-main {
	@extend .container;
	//padding:0;
	margin-bottom: $sc-padding-lv6 * 2;

	h1 {
		margin-bottom:$sc-margin-lv6;
	}

	.global-views-pagination {
		margin-bottom:$sc-margin-lv4;
	}
}

.store-locator-list-all-container {
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-gap: 0;
	width: 100%;
	@media (min-width: $screen-sm-min){
		column-count: 4;
		-moz-column-count: 4;
		-webkit-column-count: 4;
	}
}
