/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

// Variables

$merch-max-width-three-items: $screen-md-max;
$merch-max-width-two-items: 950px;
$merch-max-width-one-items: 640px;

$merch-max-width-four-items-min: $merch-max-width-three-items + 1;
$merch-max-width-three-items-min: $merch-max-width-two-items + 1;
$merch-max-width-two-items-min: $merch-max-width-one-items + 1;

$merch-pager-link-dark-color: rgba(0, 0, 0, 0.4);
$merch-pager-link-dark-color-active: rgb(0, 0, 0);
$merch-pager-link-dark-shadow: 0px 0px 5px black;

$merch-pager-link-light-color: rgba(255, 255, 255, 0.4);
$merch-pager-link-light-color-active: rgb(255, 255, 255);
$merch-pager-link-light-shadow: 0px 0px 5px black;

$merch-arrows-dark-color: rgb(0, 0, 0);
$merch-arrows-dark-shadow: 0px 0px 5px black;

$merch-arrows-light-color: rgb(255, 255, 255);
$merch-arrows-light-shadow: 0px 0px 5px black;

// $merch-title-font-size: $sc-font-size-xl;
// $merch-title-font-size-mobile: $sc-font-size-l;

// Styles
.TavanoTeam-smartMerch {
	&.tt-smart-merch-container {
		@extend .container;
	}
	&.tt-smart-merch-full-width {
		width: 100%;
	}

	margin-top: $sc-margin-lv5;
	margin-bottom: $sc-margin-lv5;
	padding-left: $sc-margin-lv6;
	padding-right: $sc-margin-lv6;
	

	.merchandising-zone-container {
		text-align: center;
		h3 { // Title
			padding-bottom: $sc-padding-lv5;

			// font-size: $merch-title-font-size;
			// @media (max-width: $screen-md-max) { font-size: $merch-title-font-size-mobile; }
		}
	}

	//// Itmes Per Screen : START ////
	$tt-smart-merch-width-container: 150;
	.bx-wrapper {
		margin-left: auto;
		margin-right: auto;

		.merchandising-zone-row-template {
			width: (100% * $tt-smart-merch-width-container) !important;
		}

		.tt-smart-merch-item-cell {
			padding-left: $sc-padding-lv4;
			padding-right: $sc-padding-lv4;
		}
		
		.tt-smart-merch-item-cell > div {
			@extend .clearfix;
			margin-left: auto;
			margin-right: auto;
			padding: $sc-padding-lv4 0;
		}
	}

	@mixin tt-smart-merch-show-four-items () {
		max-width: 100% !important;
		.merchandising-zone-cell-template {
			width: (25% / $tt-smart-merch-width-container) !important;
		}
		.tt-smart-merch-item-cell > div { max-width: 460px; }
		img { max-width: 500px; }
	}
	@mixin tt-smart-merch-show-three-items () {
		max-width: 100% !important;
		.merchandising-zone-cell-template {
			width: (33.3% / $tt-smart-merch-width-container) !important;
		}
		.tt-smart-merch-item-cell > div { max-width: 350px; }
		img { max-width: 350px; }
	}
	@mixin tt-smart-merch-show-two-items () {
		max-width: 1250px !important;
		.merchandising-zone-cell-template {
			width: (50% / $tt-smart-merch-width-container) !important;
		}
		.tt-smart-merch-item-cell > div { max-width: 300px; }
		img { max-width: 300px; }
	}
	@mixin tt-smart-merch-show-one-item () {
		max-width: 100% !important;
		.merchandising-zone-cell-template {
			width: (100% / $tt-smart-merch-width-container) !important;
		}
		.tt-smart-merch-item-cell > div { max-width: 300px; }
		img { max-width: 250px; }
	}
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-three),
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-two),
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-one) {
		@media (min-width: $merch-max-width-four-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-four-items(); }
		}
	}
	// Four Itmes
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-three),
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-two),
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-one) {
		@media (min-width: $merch-max-width-four-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-four-items(); }
		}
	}
	.tt-smart-merch-items-container.tt-smart-merch-max-four { // only four items
		@media (min-width: $merch-max-width-four-items-min) {
			.bx-controls { display: none !important; }
		}
	}
	// Three Items
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-two),
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-one) {
		@media (max-width: $merch-max-width-three-items) and (min-width: $merch-max-width-three-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-three-items(); }
		}
	}
	.tt-smart-merch-items-container.tt-smart-merch-max-three { // only three items
		@media (min-width: $merch-max-width-four-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-three-items(); }
		}
		@media (min-width: $merch-max-width-three-items-min) {
			.bx-controls { display: none !important; }
		}
	}
	// Two Items
	.tt-smart-merch-items-container:not(.tt-smart-merch-max-one) {
		@media (max-width: $merch-max-width-two-items) and (min-width: $merch-max-width-two-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-two-items(); }
		}
	}
	.tt-smart-merch-items-container.tt-smart-merch-max-two { // only two items
		@media (min-width: $merch-max-width-three-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-two-items(); }
		}
		@media (min-width: $merch-max-width-two-items-min) {
			.bx-controls { display: none !important; }
		}
	}
	// One Items
	.tt-smart-merch-items-container {
		@media (max-width: $merch-max-width-one-items) {
			.bx-wrapper { @include tt-smart-merch-show-one-item(); }
		}
	}
	.tt-smart-merch-items-container.tt-smart-merch-max-one { // only one item
		@media (min-width: $merch-max-width-two-items-min) {
			.bx-wrapper { @include tt-smart-merch-show-one-item(); }
		}
		.bx-controls { display: none !important; }
	}
	//// Itmes Per Screen : END ////

	.item-relations-related-item-title {
		padding: 0 $sc-padding-lv3;
		span { font-size: $sc-font-size-m; }
	}

	.item-relations-related-item-thumbnail {
		display: block;
		height: auto;
		line-height: inherit;

		img {
			width: 90%;
			height: auto;
			max-height: 100%;
		}
	}

	.item-see-more {
		display: block;
	}

	// Items border cell
	.smartmerch-items-cell-border {
		.tt-smart-merch-item-cell > div {
			border: 1px solid $sc-color-theme-border-light;
			border-radius: $sc-border-radius;
		}
	}
	// Items image border
	.smartmerch-items-image-border {
		.tt-smart-merch-item-cell > div img {
			border: 1px solid $sc-color-theme-border-light;
			padding: $sc-padding-lv2;
		}
	}

	// Add to Cart
	.cart-add-to-cart-button-container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	
		@media(max-width: $screen-xs-min){
			padding-right: 0 !important;
			.cart-add-to-cart-button-button { width: 100%; };
		}
	}
	
	// Buttons Style
	.button-style {
		&-primary {		.cart-add-to-cart-button-button, .item-see-more-button	{ @extend .button-primary; } }
		&-secondary {	.cart-add-to-cart-button-button, .item-see-more-button	{ @extend .button-secondary; } }
		&-tertiary {	.cart-add-to-cart-button-button, .item-see-more-button	{ @extend .button-tertiary; } }
		&-quaternary {	.cart-add-to-cart-button-button, .item-see-more-button	{ @extend .button-quaternary !optional; } }

		&-primary, &-secondary, &-tertiary, &-quaternary {
			.cart-add-to-cart-button-button,
			.item-see-more-button {
				@extend .button-medium;
				width: auto;
				margin-top: 0px;
			}
		}
		&-link {
			.cart-add-to-cart-button-button,
			.item-see-more-button {
				color: $sc-color-primary;
				width: auto;
				background-color: initial;
				border: none;
				padding: 0;
				margin-top: $sc-margin-lv2;
			}
		}
	}

	//Controls Style
	.bx-pager {
		// hide pager (bottom dots) for mobile
		@media (max-width: $merch-max-width-one-items) { display: none !important; }
	}

	.bx-controls {
		.bx-gallery-custom-prev-icon,
		.bx-gallery-custom-next-icon {
			position: absolute;
			top: 40%;
			width: 30px;
			height: auto;
			font-size: 50px;
			text-align: center;
		}

		.bx-gallery-custom-prev-icon {
			left: -20px;
			text-align: left;
			@extend .icon-angle-left;
		}
		.bx-gallery-custom-next-icon {
			right: -20px;
			text-align: right;
			@extend .icon-angle-right;
		}

		.bx-pager-link {
			// Show links as numbers
			// border-radius: 0;
			// background-color: transparent;

			// Show links as Dots
			color: transparent;
			font-size: 0px;
			padding: 5px;
			border-radius: 10px;
		}
	}

	.controls-style-default,
	.controls-style-dark {
		.bx-pager-link {
			background-color: $merch-pager-link-dark-color;

			&.active { background-color: $merch-pager-link-dark-color-active; }
		}
		.bx-gallery-custom-prev-icon,
		.bx-gallery-custom-next-icon {
			color: $merch-arrows-dark-color;
		}

		&.controls-style-shadows {
			.bx-pager-link { box-shadow: $merch-pager-link-dark-shadow; }

			.bx-gallery-custom-prev-icon,
			.bx-gallery-custom-next-icon {
				text-shadow: $merch-arrows-dark-shadow;
			}
		}
	}
	.controls-style-light {
		.bx-pager-link {
			background-color: $merch-pager-link-light-color;

			&.active { background-color: $merch-pager-link-light-color-active; }
		}
		.bx-gallery-custom-prev-icon,
		.bx-gallery-custom-next-icon {
			color: $merch-arrows-light-color;
		}

		&.controls-style-shadows {
			.bx-pager-link { box-shadow: $merch-pager-link-light-shadow; }

			.bx-gallery-custom-prev-icon,
			.bx-gallery-custom-next-icon {
				text-shadow: $merch-arrows-light-shadow;
			}
		}
	}

	.control-bottom-arrows {
		.bx-controls-direction {
			text-align: center;
		}

		.bx-gallery-custom-prev-icon,
		.bx-gallery-custom-next-icon {
			position: relative;
			left: 0;
			right: 0;
			padding: 0 $sc-padding-lv2;
			text-align: center;
			font-size: 35px;
		}
	}
}